@import "tailwindcss";

@theme inline {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.205 0.042 265.755);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.965 0 0);
  --color-secondary-foreground: oklch(0.205 0.042 265.755);
  --color-muted: oklch(0.965 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-accent: oklch(0.965 0 0);
  --color-accent-foreground: oklch(0.205 0.042 265.755);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.922 0 0);
  --color-input: oklch(0.922 0 0);
  --color-ring: oklch(0.708 0.165 254.624);
  --color-chart-1: oklch(0.795 0.184 86.047);
  --color-chart-2: oklch(0.637 0.137 243.275);
  --color-chart-3: oklch(0.723 0.219 149.579);
  --color-chart-4: oklch(0.627 0.265 29.234);
  --color-chart-5: oklch(0.645 0.03 265.755);
  --radius: 0.625rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif;
  }
}
